In [1]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests
import os

plt.style.use('seaborn-whitegrid')

In [4]:
clima = pd.read_csv('weather-underground.csv', encoding = 'latin-1')
clima.head()

,date,maxpressurem,maxdewptm,maxpressurei,maxdewpti,since1julheatingdegreedaysnormal,heatingdegreedaysnormal,since1sepcoolingdegreedaysnormal,hail,since1julsnowfallm,...,precipi,snowfalli,since1jancoolingdegreedaysnormal,precipm,snowfallm,thunder,monthtodateheatingdegreedays,meantempi,maxvism,meantempm
0,2011-05-01,1026,6,30.31,42,4646,8,NaN,0,157.23,...,0.0,0.0,13,0.0,0.0,0,5,60,16,16
1,2011-05-02,1026,10,30.31,50,4653,7,NaN,0,157.23,...,0.0,0.0,14,0.0,0.0,0,13,57,16,14
2,2011-05-03,1021,15,30.14,59,4660,7,NaN,0,157.23,...,0.0,0.0,15,0.0,0.0,0,13,65,16,18
3,2011-05-04,1017,14,30.03,57,4667,7,NaN,0,157.23,...,0.5,0.0,16,12.7,0.0,0,23,55,16,13
4,2011-05-05,1016,4,30.01,39,4673,6,NaN,0,157.23,...,0.0,0.0,17,0.0,0.0,0,32,56,16,13

#### <strong>1. ¿Cuántos días ha llovido?</strong>

In [5]:
clima.keys()

Index(['date', 'maxpressurem', 'maxdewptm', 'maxpressurei', 'maxdewpti',
       'since1julheatingdegreedaysnormal', 'heatingdegreedaysnormal',
       'since1sepcoolingdegreedaysnormal', 'hail', 'since1julsnowfallm',
       'since1julheatingdegreedays', 'maxvisi',
       'since1sepheatingdegreedaysnormal', 'heatingdegreedays', 'mindewptm',
       'since1sepheatingdegreedays', 'maxwspdm', 'since1julsnowfalli',
       'since1sepcoolingdegreedays', 'snow', 'meanvism', 'meandewptm',
       'snowdepthm', 'meanvisi', 'fog', 'snowdepthi', 'minvism',
       'since1jancoolingdegreedays', 'minvisi', 'coolingdegreedaysnormal',
       'gdegreedays', 'maxwspdi', 'meanwindspdi', 'meanpressurei',
       'monthtodateheatingdegreedaysnormal', 'meanwindspdm', 'meanpressurem',
       'tornado', 'mindewpti', 'mintempi', 'meandewpti', 'rain', 'mintempm',
       'minhumidity', 'precipsource', 'minwspdi', 'meanwdird', 'meanwdire',
       'minwspdm', 'monthtodatesnowfalli',
       'monthtodatecoolingdegreedaysnormal', 'monthtodatesnowfallm',
       'maxhumidity', 'coolingdegreedays', 'maxtempm', 'minpressurei',
       'monthtodatecoolingdegreedays', 'maxtempi', 'minpressurem', 'humidity',
       'precipi', 'snowfalli', 'since1jancoolingdegreedaysnormal', 'precipm',
       'snowfallm', 'thunder', 'monthtodateheatingdegreedays', 'meantempi',
       'maxvism', 'meantempm'],
      dtype='object')

In [7]:
clima[clima['precipi'] != 0]

,date,maxpressurem,maxdewptm,maxpressurei,maxdewpti,since1julheatingdegreedaysnormal,heatingdegreedaysnormal,since1sepcoolingdegreedaysnormal,hail,since1julsnowfallm,...,precipi,snowfalli,since1jancoolingdegreedaysnormal,precipm,snowfallm,thunder,monthtodateheatingdegreedays,meantempi,maxvism,meantempm
3,2011-05-04,1017,14,30.03,57,4667,7,NaN,0,157.23,...,0.50,0.0,16,12.70,0.0,0,23,55,16,13
14,2011-05-15,1007,18,29.74,65,4723,4,NaN,0,157.23,...,0.89,0.0,29,22.61,0.0,0,57,64,16,18
15,2011-05-16,1011,16,29.87,61,4727,4,NaN,0,157.23,...,0.17,0.0,31,4.32,0.0,0,64,58,10,14
16,2011-05-17,1015,14,29.98,57,4731,4,NaN,0,157.23,...,0.67,0.0,33,17.02,0.0,0,73,56,16,13
17,2011-05-18,1017,16,30.03,61,4734,3,NaN,0,157.23,...,2.18,0.0,35,55.37,0.0,0,77,61,16,16
18,2011-05-19,1017,18,30.05,64,4737,3,NaN,0,157.23,...,0.07,0.0,37,0.06,0.0,0,77,68,16,20
19,2011-05-20,1015,16,29.99,61,4740,3,NaN,0,157.23,...,0.24,0.0,39,6.10,0.0,0,81,61,14,16
20,2011-05-21,1017,17,30.05,63,4743,3,NaN,0,157.23,...,0.07,0.0,41,1.78,0.0,0,81,67,16,19
22,2011-05-23,1021,17,30.15,63,4749,3,NaN,0,157.23,...,0.10,0.0,47,2.54,0.0,0,94,61,16,16
29,2011-05-30,1020,21,30.13,70,4763,2,NaN,0,157.23,...,0.29,0.0,71,7.37,0.0,0,94,78,16,26

Para responder la pregunta, fueron en total <strong>10 días.</strong>

In [8]:
clima[clima['precipi'] != 0].shape

(10, 70)

#### <strong>2. ¿Cuál ha sido la temperatura máxima para días con neblina y dias sin neblina?</strong>

In [9]:
clima[clima['fog'] != 0]

,date,maxpressurem,maxdewptm,maxpressurei,maxdewpti,since1julheatingdegreedaysnormal,heatingdegreedaysnormal,since1sepcoolingdegreedaysnormal,hail,since1julsnowfallm,...,precipi,snowfalli,since1jancoolingdegreedaysnormal,precipm,snowfallm,thunder,monthtodateheatingdegreedays,meantempi,maxvism,meantempm
14,2011-05-15,1007,18,29.74,65,4723,4,NaN,0,157.23,...,0.89,0.0,29,22.61,0.0,0,57,64,16,18
17,2011-05-18,1017,16,30.03,61,4734,3,NaN,0,157.23,...,2.18,0.0,35,55.37,0.0,0,77,61,16,16
18,2011-05-19,1017,18,30.05,64,4737,3,NaN,0,157.23,...,0.07,0.0,37,0.06,0.0,0,77,68,16,20
22,2011-05-23,1021,17,30.15,63,4749,3,NaN,0,157.23,...,0.10,0.0,47,2.54,0.0,0,94,61,16,16
23,2011-05-24,1009,21,29.81,70,4751,2,NaN,0,157.23,...,0.00,0.0,50,0.00,0.0,0,94,74,16,23

In [13]:
clima[['date', 'maxtempm']][clima['fog'] != 0]

          date  maxtempm
14  2011-05-15        21
17  2011-05-18        19
18  2011-05-19        24
22  2011-05-23        19
23  2011-05-24        27

In [14]:
clima[['date', 'maxtempi']][clima['fog'] != 0]

          date  maxtempi
14  2011-05-15        69
17  2011-05-18        67
18  2011-05-19        75
22  2011-05-23        67
23  2011-05-24        81

#### <strong>3. ¿Cuál es la temperatura promedio durante fines de semana?</strong>

In [84]:
c = pd.concat([clima[0::7].meantempm, clima[6::7].meantempm])
c.mean()

18.333333333333332

In [85]:
c = pd.concat([clima[0::7].meantempi, clima[6::7].meantempi])
c.mean()

65.11111111111111

#### <strong>3. ¿Cuál es el promedio de la temperatura mínima en días lluviosos que tienen una temperatura mínima de 55 °F?</strong>

In [80]:
clima.mintempm[clima.rain != 0][clima.mintempm[clima.rain != 0] >= 55].mean()

nan

In [81]:
clima.mintempi[clima.rain != 0][clima.mintempi[clima.rain != 0] >= 55].mean()

59.166666666666664

#### <strong>4. Humedad máxima y humedad promedio en los días lluviosos.</strong>

In [87]:
clima.maxhumidity[clima['rain'] != 0].mean()

98.6

In [88]:
clima.minhumidity[clima['rain'] != 0].mean()

74.9

In [96]:
clima[(clima['maxhumidity'] == clima.maxhumidity[clima['rain'] != 0].max()) & clima['rain'] != 0]

,date,maxpressurem,maxdewptm,maxpressurei,maxdewpti,since1julheatingdegreedaysnormal,heatingdegreedaysnormal,since1sepcoolingdegreedaysnormal,hail,since1julsnowfallm,...,precipi,snowfalli,since1jancoolingdegreedaysnormal,precipm,snowfallm,thunder,monthtodateheatingdegreedays,meantempi,maxvism,meantempm
14,2011-05-15,1007,18,29.74,65,4723,4,NaN,0,157.23,...,0.89,0.0,29,22.61,0.0,0,57,64,16,18
15,2011-05-16,1011,16,29.87,61,4727,4,NaN,0,157.23,...,0.17,0.0,31,4.32,0.0,0,64,58,10,14
16,2011-05-17,1015,14,29.98,57,4731,4,NaN,0,157.23,...,0.67,0.0,33,17.02,0.0,0,73,56,16,13
17,2011-05-18,1017,16,30.03,61,4734,3,NaN,0,157.23,...,2.18,0.0,35,55.37,0.0,0,77,61,16,16
18,2011-05-19,1017,18,30.05,64,4737,3,NaN,0,157.23,...,0.07,0.0,37,0.06,0.0,0,77,68,16,20
19,2011-05-20,1015,16,29.99,61,4740,3,NaN,0,157.23,...,0.24,0.0,39,6.10,0.0,0,81,61,14,16
20,2011-05-21,1017,17,30.05,63,4743,3,NaN,0,157.23,...,0.07,0.0,41,1.78,0.0,0,81,67,16,19
22,2011-05-23,1021,17,30.15,63,4749,3,NaN,0,157.23,...,0.10,0.0,47,2.54,0.0,0,94,61,16,16

In [97]:
clima[(clima['minhumidity'] == clima.minhumidity[clima['rain'] != 0].min()) & clima['rain'] != 0]

,date,maxpressurem,maxdewptm,maxpressurei,maxdewpti,since1julheatingdegreedaysnormal,heatingdegreedaysnormal,since1sepcoolingdegreedaysnormal,hail,since1julsnowfallm,...,precipi,snowfalli,since1jancoolingdegreedaysnormal,precipm,snowfallm,thunder,monthtodateheatingdegreedays,meantempi,maxvism,meantempm
29,2011-05-30,1020,21,30.13,70,4763,2,NaN,0,157.23,...,0.29,0.0,71,7.37,0.0,0,94,78,16,26

#### <strong>5. Temperatura mínima en días lluviosos.</strong>

In [103]:
clima[(clima['mintempm'] == clima.mintempm[clima['rain'] != 0].min()) & clima['rain'] != 0]

,date,maxpressurem,maxdewptm,maxpressurei,maxdewpti,since1julheatingdegreedaysnormal,heatingdegreedaysnormal,since1sepcoolingdegreedaysnormal,hail,since1julsnowfallm,...,precipi,snowfalli,since1jancoolingdegreedaysnormal,precipm,snowfallm,thunder,monthtodateheatingdegreedays,meantempi,maxvism,meantempm
3,2011-05-04,1017,14,30.03,57,4667,7,NaN,0,157.23,...,0.5,0.0,16,12.7,0.0,0,23,55,16,13

In [107]:
clima[(clima['mintempi'] == clima.mintempi[clima['rain'] != 0].min()) & clima['rain'] != 0]

,date,maxpressurem,maxdewptm,maxpressurei,maxdewpti,since1julheatingdegreedaysnormal,heatingdegreedaysnormal,since1sepcoolingdegreedaysnormal,hail,since1julsnowfallm,...,precipi,snowfalli,since1jancoolingdegreedaysnormal,precipm,snowfallm,thunder,monthtodateheatingdegreedays,meantempi,maxvism,meantempm
3,2011-05-04,1017,14,30.03,57,4667,7,NaN,0,157.23,...,0.5,0.0,16,12.7,0.0,0,23,55,16,13

In [108]:
clima[(clima['mintempi'] == clima.mintempi[clima['rain'] != 0].min()) & clima['rain'] != 0].mintempi

3    46
Name: mintempi, dtype: int64

#### <strong>6. Día del mes con presión mínima.</strong>

In [110]:
clima[clima['minpressurei'] == clima['minpressurei'].min()]

,date,maxpressurem,maxdewptm,maxpressurei,maxdewpti,since1julheatingdegreedaysnormal,heatingdegreedaysnormal,since1sepcoolingdegreedaysnormal,hail,since1julsnowfallm,...,precipi,snowfalli,since1jancoolingdegreedaysnormal,precipm,snowfallm,thunder,monthtodateheatingdegreedays,meantempi,maxvism,meantempm
23,2011-05-24,1009,21,29.81,70,4751,2,NaN,0,157.23,...,0.0,0.0,50,0.0,0.0,0,94,74,16,23